
div.row
	div.class("sixteen columns")
		div.offset-by-two
			div(class="twelve columns alpha")
				div.job-post
					div.title= pos.title
					div.subtitle= pos.subtitle
					div.req= pos.req
					div.location= pos.location
					div.type= pos.type
					div.url= pos.url

					div.writup
						:markdown
							pos.writeup

					div.apply Click here to apply